---
import { formatPrice } from "../../../utils/formatPrice";
import { addCartItem } from "../../../utils/cartStore";
import ProductItem from "../../../components/ProductCard";
import PagesLayout from "../../../layouts/PagesLayout.astro";
import { productsApiUrl } from "../../../utils/apiConstants";

const { category } = Astro.params;
const response = await fetch(`${productsApiUrl}/category/${category}`);
const data = await response.json();

const onAddToCart = (id, name, price, thumbnail) => {
  addCartItem({ id, name, price, thumbnail });
};
---

<PagesLayout
  title={`${category.charAt(0).toUpperCase() + category.slice(1)} Products`}
>
    {
      data.products && data.products.length > 0 ? (
        <ol class="flex flex-wrap gap-3 justify-center">
          {data.products.map((product) => (
            <ProductItem
              key={product.id}
              product={product}
              onAddToCart={onAddToCart}
              formatPrice={formatPrice}
            />
          ))}
        </ol>
      ) : (
        <p>No products available for this category.</p>
      )
    }
</PagesLayout>