---
import Header from "../components/Header";
import BackToHomeButton from "../components/BackButton"
const { id } = Astro.params;
const response = await fetch(`https://dummyjson.com/products/${id}`);
const data = await response.json();
---

<Header client:only="react" />
<BackToHomeButton />
<div class="container mx-auto p-4">
    <div class="bg-gray-100 p-6 rounded-lg shadow-md">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">{data.title}</h2>
      <p class="text-gray-600 mb-4">{data.description}</p>
      <p class="text-lg text-blue-500 mb-2">Price: ${data.price}</p>
      <p class="text-lg text-blue-500 mb-2">Discount: {data.discountPercentage}%</p>
      <p class="text-lg text-gray-600 mb-2">Rating: {data.rating}</p>
      <p class="text-lg text-gray-600 mb-2">Stock: {data.stock}</p>
      <p class="text-lg text-blue-500 mb-2">Brand: {data.brand}</p>
      <p class="text-lg text-blue-500 mb-2">Category: {data.category}</p>
      <img src={data.thumbnail} alt="Thumbnail" class="mb-4 max-w-full" />
      <div class="flex flex-wrap">
        {data.images &&
          data.images.map((image, index) => (
            <img
              key={index}
              src={image}
              alt={`Image ${index + 1}`}
              className="max-w-full mr-2"
            />
          ))}
      </div>
    </div>
  </div>